body{
width: 900px;
margin: auto;
font: 28px arial, sans-serif;
}
div {
  padding: 15px;
  background-color: #ccc;
  /*border: solid 1px #000;*/
  }
h1{
  color: #000000;
}
 p {
    color: #000000;
}


